.upload {
  width: 20rem;
  justify-content: center;
  align-items: center;
}

.description {
  width: 20rem !important;
}

.tab-form {
  top: 4em,
}

textarea,
input {
  outline: none;
}

textarea {
  text-align: center;
  padding: 1em;
}

.container-add {
  min-height: 80vh !important;
}