@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

.my-search {
  width: 250px;
  outline: none;
}

.my-search ::placeholder {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: red !important;
}

/* .my-navbar {
  position: fixed;
  top: 0;
  width: 100%;
} */